.doneImage
{
    opacity: 0.7;
    position: absolute;
}
#decision
{
    position: absolute;
    left: 43%;
    top:19%;
    color: blue;opacity: 1;font-weight: bold;
    font-size:70px;
}
#return_home
{
    position: absolute;
    left: 48%;
    top:77%;
    background-color: aquamarine;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}
#results
{
    background-color: white;
    opacity: 0.5;
    position: absolute;
    height: 33vw;
    width: 60vw;
    left: 22%;
    top:18%;
    display: flex;
    flex-direction: row;
    padding-top: 8%;
}
#army1
{
    width: 50%;
    text-align: center;
}
#army2
{
    width: 50%;
    text-align: center;
}
h1{color: black;opacity: 1;font-weight: bold;}
h3{color: black;opacity: 1;font-weight: bold;}