#home-image
{
    height: 200px;
    width: max-content;
    text-align: center;
    padding-left: 580px;
}
#start-screen
{
    position: relative;
    display: table-cell;
    border: 20px;
    border-color: azure;
    border-style: double;
    border-radius: 20px;
    margin: 100px;
    width: 100vw;
    height: 500px;
    background-color:coral ;
}
#home-title
{
    font-size: 50px;
    text-align: center;
}
h3
{
    padding: 10px;
    text-align:center;
    font-size: 20px;
}
#Start-button{
    background-color: burlywood;
    height: 50px;
    width: 70px;
    position: relative;
    left: 48%;
    margin-bottom: 50px;
}