#info_item
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#image_info
{
    text-align: center;
    width:50px;
    height: 70px;
}
#info_text
{
    text-align: center;
    font-size: 15px;
    width: 55%;
}