#item
{
    display: flex;
    flex-direction: row;
}
#select
{
   margin-left: 20px;
    max-width: 200px;
}
#title
{
    margin-top: 10%;
    text-align: center;
    font-size: 10px;
}
#image
{
    width: 20%;
}