#item
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#select
{
   margin-left: 20px;
    max-width: 200px;
}
#title
{
    margin-top: 10%;
    text-align: center;
    font-size: 14px;
}
.title
{
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
}

